/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  box-sizing: border-box;
  font-family: 'Droid Serif', serif;
  font-size: 62.5%; /* Sets up the Base 10 stuff */
  line-height: 1.4;
  color: $black;
}

body {
  @include rem(font-size, 1.4rem);
  letter-spacing: -0.05em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

h1 {
  @include rem(font-size, 3rem);
}

p {
  margin: 0 0 16px 0;
}

img {
  vertical-align: middle;
}
