.button {
  vertical-align: middle;
  font-family: 'Droid Sans', sans-serif;

  &.remove {
    width: 16px;
    height: 22px;
    font-size: 0;
    border: 0;
    background: url("../img/trash-bin.png") no-repeat center;
  }

  &.checkout {
    @include rem(font-size, 2.4rem);
    @include rem(line-height, 4.8rem);
    font-weight: 700;
    color: $white;
    padding: 0 9px;
    border: 0;
    border-radius: 10px;
    background-color: $blue;
    -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.53);
    -moz-box-shadow: 3px 4px 5px rgba(0,0,0,.53);
    box-shadow: 3px 4px 5px rgba(0,0,0,.53);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $light-blue;
    }
  }

  &.disabled {
    background-color: $dark-gray;

    &:hover {
      background-color: $dark-gray;
    }
  }
}
