/* ==========================================================================
   The grid
   ========================================================================== */

/* .row */
.row {
  padding: 0;
}

.row .row {
  padding: 0;
}

.row:after {
  display: table;
  clear: both;
  content: '';
}

/* col */
[class*="col-"] {
  padding: 0 10px;
}

.row [class*='col-'] {
  float: left;

  &:only-of-type {
    float: none;
  }
}

/* .col-1 */
.row .col-1 {
  width: calc(100% / 12);
}

/* .col-2 */
.row .col-2 {
  width: calc(100% / 12 * 2);
}

/* .col-3 */
.row .col-3 {
  width: calc(100% / 12 * 3);
}

/* .col-4 */
.row .col-4 {
  width: calc(100% / 3);
}

/* .col-5 */
.row .col-5 {
  width: calc(100% / 12 * 5);
}

/* .col-6 */
.row .col-6 {
  width: calc(100% / 2);
}

/* .col-7 */
.row .col-7 {
  width: calc(100% / 12 * 7);
}

/* .col-8 */
.row .col-8 {
  width: calc(100% / 12 * 8);
}

/* .col-9 */
.row .col-9 {
  width: calc(100% / 12 * 9);
}

/* .col-10 */
.row .col-10 {
  width: calc(100% / 12 * 10);
}

/* .col-11 */
.row .col-11 {
  width: calc(100% / 12 * 11);
}

/* .col-12 */
.row .col-12 {
  width: 100%;
}

/* align */
.align-center {
  margin: 0 auto;
}

/*
 * Media queries
 */

@media screen and (max-width: $breakpoint-mobile) {
  .row [class*='col-'] {
    width: 100%;
    margin: 0;
  }
}
