/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * Full-width
 */

.full-width {
  width: 100%;
}


/*
 * Center align text
 */

.text-center {
  text-align: center;
}

/*
 * Right align text
 */

.text-right {
  text-align: right;
}

/*
 * Notification message
 */

.notification {
  text-align: center;
  padding: 30px 0;
}
