.wrapper {
  background-image: -webkit-linear-gradient(bottom, #d9d9d9, #fff);
  background-image: -moz-linear-gradient(bottom, #d9d9d9, #fff);
  background-image: -o-linear-gradient(bottom, #d9d9d9, #fff);
  background-image: -ms-linear-gradient(bottom, #d9d9d9, #fff);
  background-image: linear-gradient(to top, #d9d9d9, #fff);
  background-repeat: no-repeat;

  > .container {
    max-width: 960px;
    padding: 170px 0;
    margin: 0 auto;

    @media (max-width: $breakpoint-mobile) {
      padding: 30px 0 70px;
    }
  }
}

footer {
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  color: $white;
  border-top: 1px solid $black;
  background-color: $dark-gray;

  p {
    @include rem(font-size, 1.2rem);
    @include rem(line-height, 4rem);
    margin: 0;
  }
}

.totals {
  @include rem(font-size, 1.8rem);
  color: $dark-gray;
  margin-bottom: 40px;

  .total {
    color: $black;
    margin: 20px 0;
  }
}

.logo-link {
  display: inline-block;
}

.logo {
  display: inline-block;
  margin: 0;

  @media (max-width: $breakpoint-mobile) {
    text-align: center;
  }
}

.logo img {
  width: 183px; // Magic number, but this is how it was in PSD
  max-width: 183px;

  @media (max-width: $breakpoint-mobile) {
    max-width: 90%;
  }
}

.browserupgrade {
  margin: 4px 0;
  background: $light-gray;
  color: $black;
  padding: 4px 0;
}
