// Sticky footer
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -41px;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer,
.wrapper:after {
  /* .push must be the same height as footer */
  height: 41px;
}
