.table-wrap {
  @media (min-width: $breakpoint-mobile) {
    padding: 0 45px 0 70px;
  }
}

table {
  margin: 40px 0;
  min-width: 100%;

  thead {
    th {
      font-weight: 700;
      line-height: 1;
      border-bottom: 2px solid $middle-gray;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  tr {
    &:nth-of-type(2n) {

      td {
        background-color: transparent;

        @media (min-width: $breakpoint-mobile) {
          background-color: $light-gray;

          &:last-child {
            background-color: transparent;
          }
        }
      }
    }
  }

  th {
    display: none;
  }

  td {
    line-height: 1.8;
    display: block;

    &:first-child {
      padding-top: 8px;
    }

    &:last-child {
      padding-bottom: 8px;
    }

    &:before {
      content: attr(data-th);
      font-weight: bold;
      width: 50%;
      display: inline-block;

      @media (min-width: $breakpoint-mobile) {
        display: none;
      }
    }

    @media (min-width: $breakpoint-mobile) {
      @include rem(line-height, 4.8rem);
    }
  }

  th, td {
    @include rem(font-size, 1.8rem);
    text-align: left;

    &:nth-of-type(3) {
      input {
        width: 50%;
      }

      @media (min-width: $breakpoint-mobile) {
        max-width: 60px;

        input {
          width: 100%;
        }
      }
    }

    @media (min-width: $breakpoint-mobile) {
      display: table-cell;
      padding: 0 10px;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }
}
