// Colors
$white: #ffffff;
$black: #000000;
$gray: #999999;
$light-gray: #dddddd;
$middle-gray: #787878;
$dark-gray: #666666;
$blue: #000066;
$light-blue: #3333ff;

// Breakpoints
$breakpoint-mobile: 768px;
